@charset "utf-8";

$primary: #eb5959 !default;
$primary-text: #c0c0c0 !default;
$primary-background: #303030 !default;
$minor-text: #cacaca !default;
$minor-background: #404040 !default;

$inline-code-color: #a0a0a0 !default;

@import "../../../styles/common";